# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/
*.code-workspace

# Cursor
.cursor/
*.cursor-workspace

# Antigravity
.antigravity/
*.antigravity-workspace

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini